<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CxWSResolverSoap" />
        <binding name="CxSDKWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.225.8.146/CxWebInterface/CxWSResolver.asmx"
          binding="basicHttpBinding" bindingConfiguration="CxWSResolverSoap"
          contract="CxWSResolver.CxWSResolverSoap" name="CxWSResolverSoap" />
      <endpoint address="http://10.225.8.146/CxWebInterface/SDK/CxSDKWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="CxSDKWebServiceSoap"
          contract="CxSDKWebService.CxSDKWebServiceSoap" name="CxSDKWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>